body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

/* Video in Header only */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Header styling */
header {
  position: relative;
  z-index: 1;
  color: white;
}

#main-headding {
  letter-spacing: -2px;
}

/* Mute/Unmute Toggle */
#audio-toggle {
  position: absolute;
  top: 80px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 15px;
  border-radius: 30px;
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

#audio-toggle i {
  font-size: 20px;
}

/* Click Prompt */
#click-prompt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Feature icon */
.feature-icon {
  font-size: 30px;
  color: blue;
}

#hero-img {
  max-height: 80vh;
  object-fit: contain;
  border-radius: 1rem; /* matches rounded-5 */
}

/* ---------------------------------------------------------------------------------------- */

@media (max-width: 550px) {
  #hero-img {
    max-height: 40vh;
  }

  #hero-header {
    padding-bottom: 50px;
  }

  #hero-img-container,
  #hilights-img-container {
    justify-content: center !important;
  }

  #hilights-img {
    max-height: 40vh;
    object-fit: cover;
  }

  #business-img {
    max-height: 40vh;
    object-fit: cover;
    justify-self: center;
  }
  #form-img {
    display: none;
  }

  #nav-button {
    background-color: white;
  }
  #nav-list {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 10px;
  }
}

/* ------------------------------------------------------------------------------------------- */
#hilights-img {
  max-height: 70vh;
  object-fit: cover;
}
.container {
  margin-bottom: 90px;
  margin-top: 40px;
}

#hilights-headding {
  letter-spacing: -2px;
}

.custom-hr {
  border: none;
  height: 4px;
  background-color: #862e9c;
  border-radius: 2px;
  margin: 1rem 0;
  opacity: 5;
}

#business-img {
  max-height: 80vh;
  object-fit: cover;
}

#form-img {
  max-height: 50vh;
  object-fit: cover;
}

.feature-col {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.feature-col1:hover,
.feature-col2:hover,
.feature-col3:hover,
.feature-col4:hover {
  transform: translateY(-5px); /* move upward */
  background-color: #f3d9fa;
  border-radius: 10px;
}

input::placeholder {
  color: #dee2e6;
  font-style: italic;
}

#form-row {
  background-image: url("./img/images/background-1.jpg");
  background-size: cover;
}
